body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(green,yellow);
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
    font-weight: 5px;
}
.half-width{
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.half-width-new{
    width: 50%;
    padding-left: 0;
    padding-right: 10%;
}
.half-width img{
    width: 100%;
}
.display-one{
    display: flex;
}
p{
    font-size: 12px;
    padding-bottom: 15px;
}