body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.orange-color{
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(green,yellow);
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
    font-weight: 5px;
}
.half-space{
    width: 50%;
    padding-right: 10%;
}
.half-space-new{
    width: 50%;
    padding-left: 200px;
    padding-right: 10%;
    padding-top: 120px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 200px;
    padding-top: 120px;
}
.half-width-new{
    width: 50%;
    padding-left: 10%;
}
.half-width-new img{
    width: 100%;
}
.display-one{
    display: flex;
}
p{
    font-size: 12px;
    padding-bottom: 20px;
}
.display-two{
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.align-center{
    text-align: center;
    padding: 0% 35%;
}
.box-model{
    width: 250px;
    padding: 10px;
    border: 5px gray;
    border-radius: 20px;
    box-shadow:5px 5px 5px 5px gray;
    margin: 10%;
}
.box-model img{
    width: 250px;
}
.display-three{
    display: flex;
}
.share-width-one{
    width: 50%;
    padding-left: 10%;
    padding-right: 0%;
}
.share-width-two{
    width: 50%;
    padding-left: 0;
    padding-right: 0%;  
}
.share-width-three{
    width: 50%;
    padding-left: 0;
    padding-right: 10%;
}
.display-four{
    display: flex;
}
.box-model-one{
    border: 5px gray;
    border-radius: 20px;
    box-shadow:5px 5px 5px 5px gray;
    margin: 10%;
}
.share-space-one{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}
.share-space-two{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.share-space-three{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.display-five{
    background-image: url(images/bg\ six.png);
}
.display-five p{
    color: blanchedalmond;
}
.grey-color{
    color:white;
}